.portfolio-container {
    margin-left: 80px;
    margin-right: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

}   

.single-item1 {
    margin: 20px;
    background-image: url('attache.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 400px;
    display: grid;
    border-radius: 15px;

}
.single-item2 {
    margin: 20px;
    background-image: url('programory.png');
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 400px;
    display: grid;
    border-radius: 15px;

}
.single-item3 {
    margin: 20px;
    background-image: url('restaurant-app.png');
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 400px;
    display: grid;
    border-radius: 15px;

}
.single-item4 {
    margin: 20px;
    background-image: url('namebadges.png');
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 400px;
    display: grid;
    border-radius: 15px;

}

.single-item4 div:hover {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.993);

}

.single-item4 div {
    display: none;
}

.text {
    display: none
}

.text:hover {
    display: grid;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.993);
    
}

section:nth-of-type(3) #gallery {
    margin: 20px 0;
}
section:nth-of-type(3) .container {
    padding: 0;
}
.flex.wrap {
    flex-wrap: wrap;
}
.flex.row {
    flex-direction: row;
}
section .container {
    padding: 0 10px;
}
section .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
}
.container {
    padding: 0 20px;
}
.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    display: block;
}

section {
    line-height: 18pt;
    padding: 100px 0 130px 0;
}
section {
    padding: 70px 0 70px 0;
    color: #616161;
    line-height: 11pt;
    position: relative;
}

body {
    font-size: 12pt;
}
body {
    color: #fff;
    font-family: 'Raleway';
    text-align: center;
    margin: 0px;
    font-size: 8pt;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

section:nth-of-type(3) #gallery .mix:nth-child(1) .card {
    background: url('https://programory-app.herokuapp.com/') center center/cover;
}

section:nth-of-type(3) #gallery .mix .card {
    width: 390px;
}

section:nth-of-type(3) #gallery .text, section:nth-of-type(3) #gallery .button {
    z-index: 2;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    color: #1B242F;
}

section:nth-of-type(3) .text {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
}